#vehicle_form_background {
    display: none;
}
#vehicle_form_background.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align:middle;
    background-color: rgba(128, 128, 128, 0.555);
}
#vehicle_form {
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    width: 60vw;
    padding: 5%;
}
#vehicle_form .form_input {
    margin-bottom: 2em;
}
#vehicle_form_header {
    display: flex;
    align-items: center;
}
#vehicle_form_header svg:hover {
    color: var(--accent-color);
}
@media screen and (max-width: 900px){
    #vehicle_form {
        width: 90%;
    }
}